.footer {
  background-color: black;
  padding: 1rem;
}

.footer p {
  color: #fff;
}

.product-list-item h2.subtitle {
  margin-bottom: 0;
}

.product-list-item h3.price {
  color: #888;
}

/** Notification Toast **/

@keyframes show-toast {
  0% {
    bottom: -100%;
  }
  20% {
    bottom: 50px;
  }
  80% {
    bottom: 50px;
  }
  100% {
    bottom: -100%;
  }
}

.notification.is-toast {
  position: fixed;
  bottom: 100%;
  right: 20px;
  animation-name: show-toast;
  animation-duration: 4s;
}
